<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>home</title>

</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="font-weight-bold">Smart Contact Manager</h1>
        <p>
            Hello, Welcome to Cloud Contact Manager
            Now you can save you contact with web.Very efficient way
            to manage your contact at anywhere at anytime.</p>
        <a class="btn btn-primary" th:href="@{/user/dashboard}">Start Explore</a>

    </div>

</section>
</body>
</html>
